.Navbar{
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 1;
}

.ms-logo{
    height: 40px;
    margin: 15px 0;
    padding: 0;
}

.Nav-Links ul{
    margin-right: 450px;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.Nav-Links ul li{
    margin: 10px 20px 0 0;
    font-size: 17px;
    cursor: pointer;
}

/* underline effects start */
.Navlink {
    margin: 0 5px;
    padding: 0;
    position: relative;
    text-decoration: none;
    list-style: none;
    color: #000000;
    transition: transform 0.3s ease;
    padding-bottom: 5px;
    overflow: hidden;
}

.Navlink::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2.5px;
    left: 0;
    bottom: 0;
    background-color: #000000;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

.Navlink:hover::after, .Navlink.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.Navlink:hover {
    color: rgb(255, 119, 0);
}

.Navlink.active {
    color: rgb(255, 119, 0);
}
/* underline effects end */

.Navbar .search_container{
    position: absolute;
    padding: 0;
    margin-left: 40%;
}

.Navbar .search_container input{
    margin: 18px 0;
    width: 400px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    outline: none; 
}

.Navbar .search_container input:focus {
    border-color: rgb(255, 119, 0);
    box-shadow: 0 0 5px rgba(255, 119, 0, 0.7); 
    outline: none;
    transition: box-shadow 0.1s ease-in-out;
}

.navlink-cart{
    color: black;
}

.navlink-cart:active:after{
    color: rgb(255, 119, 0);
}

.search_icon{
    margin-left: -30px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.search_icon:hover{
    color: rgb(255, 119, 0);
}

.Nav-log{
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.cart-icon-container p{
    position: absolute;
    margin: -3px 0 0 17px;
    padding: 2px 4px;
    font-size: 10px;
    border: 2px solid black;
    background-color: red;
    color: white;
    cursor: default;
    border-radius: 50%;
}

.cart-icon{
    margin: 0 0 0 0;
    font-size: 22px;
    cursor: pointer;
    transition: ease-in-out 0.1s;
    border: 1px;
    padding: 5px;
}

.cart-icon:hover{
    color: rgb(255, 119, 0);
}

.cart-icon:active{
    color: rgb(255, 119, 0);
}

.profile {
    margin: 0 0 0 45px;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transition: color 0.3s ease, transform 0.3s ease;
}

 /* Dropdown Profile Start */
.dropdown-profile {
    position: absolute;
    top: 105%;
    right: 0.5rem;
    width: 190px;
    min-height: 10px;
    max-height: 250px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.dropdown-profile .username-container{
    margin-top: -5px;
    margin-bottom: 15px;
    text-align: center;
}

.dropdown-profile h2 {
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    padding-bottom: 8px;
}

.dropdown-profile ul {
    list-style: none;
    width: 100%;
    max-width: 150px;
    margin-top: 10px;
}

.dropdown-profile li {
    margin-left: -30px;
    margin-bottom: 5px;
    max-width: 170px;
    padding: 7px 5px;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    transition: ease 0.2s;
}

.dropdown-profile li:hover {
    background-color: black;
    color: white;
}

.dropdown-profile hr {
    margin: -10px 0 5px -3px;
    border: none;
    background-color: black; 
    width: 195px;
    height: 1.5px;
}

.login-float-container{
    position: absolute;
    top: 80px;
    left: 1412px;
    z-index: 1;
}

.login-float {
    width: 100px;
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
    background-color: rgb(255, 142, 35);
    box-shadow: 1px 1px 6px 1px black;
    position: relative;
    z-index: 1;
    animation: float-animation 3s ease-in-out infinite;
}

.login-float::before {
    content: '';
    position: absolute;
    top: -10px; 
    left: 70%; 
    transform: translateX(-50%);
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 10px solid black;
}

.login-float p{
    color: white;
    font-weight: bold;
}

@keyframes float-animation {
  0%, 100% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-10px); 
  }
}

 /* Dropdown Profile End */
.dd-icon{
    font-size: 19px;
    margin-left: 5px;
    margin-right: 5px;
}

.db-icon{
    font-size: 19px;
    margin-left: 30px;
    margin-right: 5px;
}

.dropdown-profile .signin-item{
    margin: -10px;
    margin-left: -35px;
    margin-bottom: -15px;
}

.dropdown-profile .signin-item:hover{
    color: rgb(0, 255, 0);
}

.dropdown-profile .signout-item:hover{
    color: rgb(234, 16, 16);
}

/* Responsive */

@media only screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }

    .ms-logo{
        margin-left: 10px;
    }

    .Navbar{
        height: 140px;
    }

    .Nav-log{
        margin: -80px 10px 0 170px;
    }
    
    .cart-icon{
        width: 20px;
        height: 20px;
        margin: 0 0 0 -100px;
    }

    .cart-icon-container p{
        position: absolute;
        margin: 0 0 0 -85px;
        padding: 1px 3px;
        font-size: 8px;
        border: 2px solid black;
        background-color: red;
        color: white;
        cursor: default;
        border-radius: 50%;
    }

    .profile {
        width: 45px;
        height: 45px;
        margin: 0 0 0 -65px;
    }

    .Navbar .search_container{
        position: absolute;
        margin-left: 200px;
        margin-right: 50px;
        margin-top: 5px;
        z-index: -1;
    }

    .Navbar .search_container input{
        width: 300px;
        margin-top: 60px;
        margin-left: -165px;
    }

    .Nav-Links ul{
        position: absolute;
        margin-top: 100px;
        margin-left: -170px;
        margin-right: 170px;
    }

    .dropdown-profile {
        margin-top: -90px;
    }

    .login-float-container{
        left: 70%;
    }
  }
  