.success-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.success-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(210, 255, 240);
    width: 400px;
    height: 360px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.success-image h1{
    font-weight: bold;
    color: #22c466;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.success-image p{
    font-size: 24px;
    font-weight: bold;
    color: #22c466;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.success-image button{
    padding: 12px 12px;
    margin-bottom: 20px;
    font-size: 14px; 
    font-weight: bold;
    position: relative;
    border-radius: 5px;
    border: 2px solid #22c466;
    background-color: #22c466;
    color: #22c466;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(45deg, transparent 50%, white 50%);
    background-size: 300% 200%;
    background-position: bottom right;
}

.success-image button:hover{
    background-position: top left;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

/* Cancel */

.cancel-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.cancel-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 210, 210);
    width: 400px;
    height: 330px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.cancel-image p{
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.cancel-image button{
    padding: 12px 15px;
    font-size: 14px; 
    font-weight: bold;
    position: relative;
    border-radius: 5px;
    border: 2px solid red;
    background-color: red;
    color: red;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(45deg, transparent 50%, white 50%);
    background-size: 350% 190%;
    background-position: bottom right;
}

.cancel-image button:hover{
    background-position: top left;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}