.admin-container{
    background-color: rgb(0, 139, 129);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.admin-navbar{
    margin: 5px;
    width: 20%;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    box-shadow: 1px 2px 10px 3px rgba(0, 0, 0, 0.5);
} 

.admin-navbar .admin-profile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-navbar .admin-profile img{
    margin: 10px;
    width: 60px;
    height: auto;
    border: 2px solid rgb(249, 249, 249);
    border-radius: 50%;
}

.admin-navbar .admin-profile h2 {
    color: white;
    font-size: 1rem;
}

.admin-navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1rem;
    color: white;
}

.admin-navbar ul li {
    margin: 5px ;
    padding: 15px;
    padding-left: 20px;
    transition: ease 0.3s;
    font-size: 0.9rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 15px;
}

.admin-navbar ul li:hover {
    background-color: white;
    color: black;
}

.admin-navbar ul li.active {
    background-color: white;
    color: black;
}

.icon {
    font-size: 1.6rem;
    padding: 0 20px 0 5px;
}

.admin-navbar ul .logout {
    margin-top: 230px;
    padding-left: 80px;
    color: red;
}

.admin-navbar ul .logout:hover{
    color: white;
    background-color: red;
}

.admin-main {
    flex-grow: 1;
    padding: 10px;
    color: white;
}

.admin-main h1{
    text-align: center; 
    margin-top: 5px;
    margin-bottom: 25px;
}

.dashboard-cards {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    color: white;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
    width: 250px;
    transition: ease 0.4s;
}

.card:hover{
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.7);
}

.card h3{
    margin-top: 10px;
    font-size: 16px;
}

.card p{
    margin: 10px;
    font-size: 26px;
    font-weight: bold;
}

.card-icon {
    font-size: 2rem;
    padding: 0;
    margin-top: 5px;
}